/* adaptive flex-grid (flex-grid, flex-grid__item) */
.flex-grid {
  display: flex;
  flex-wrap: wrap;

  /* reset user agent styles */
  padding: 0;
  margin: 0;

  /* compensation for .card margins */
  margin-top: calc(-1 * var(--flex-grid-gap));
  margin-left: calc(-1 * var(--flex-grid-gap));
}

.flex-grid__item {
  flex-basis: calc(
    100% / 4 - var(--flex-grid-gap)
  ); /* "100% / 4" - where "4" is count of items in row, so every card will got 1/4 parrent width but - var(--flex-grid-gap)  */

  margin-top: var(--flex-grid-gap);
  margin-left: var(--flex-grid-gap);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  text-align: center;
  background-color: var(--white-color);
}
