.header {
  position: relative;

  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-color);

  &__container {
    align-items: center;
    justify-content: space-between;
  }
}
