.menu-button {
  background-color: var(--transparent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  color: var(--black-color);
  cursor: pointer;
  outline: none;

  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }


  & > svg {
    fill: currentColor;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

// .menu-button > svg {
//   fill: currentColor;
// }