HTML {
  background-repeat: no-repeat;
  background-position: 50% 0;

  /* По умолчанию мобильный макет */
  background-image: url('../images/studio-pp.jpg');

  @media (min-width: 760px) {
    background-image: url('../images/studio-pp.jpg'); /* Планшетный макет */
  }

  @media (min-width: 960px) {
    background-image: url('../images/studio-pp.jpg'); /* Десктопный макет */
  }
}

BODY {
  opacity: 0.5;
}
